* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display:  flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #1F2937;
    font-size: 18px;
}

.header-logo h2{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 40px;
}

.link-container {
    display: flex;
    gap: 15px
}

.link-container a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
}
.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
    padding: 150px 0px 150px 0px;

}   
.main-text.bold {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.item p {
    color: 18px;
    color: #E5E7EB;
}

.item button{
    background-color: #3882F6;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 3px;
    color: white;
}

img {
    width: 400px;
    height: 300px;
    object-fit: fill;
}

.information-item {
    display: flex;
    justify-content: center;
}

.information-item .information-text{
    padding: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-item {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 250px;
    
}

.card-body {
    width: 200px;
    height: 200px;
    border: solid rgb(59, 105, 212) 2px;
    border-radius: 10px;
}

.card-item p {
    text-align: center;
    color: 18px;
    color: #a8aaae;

}
